$numerator:10vw;
$numerator-mob:26vw;
$numerator-s:5vw;

.mo-saradnja{
	position: relative;

	@include linearGradient(#ffffff,#f5f5f5);

	@include breakpoint(desktop){

	}

	.container-01{
		
		width:100%;
		
		@include breakpoint(desktop){
			width:50%;
			//float:right;
		}
	}
	
	.container-02{
		position:relative;
		width:100%;
		height: 100%;
		//float:left;
		@include breakpoint(desktop){
			width:50%;
			position: absolute;
		}
	}

	.saradnja-body{
		text-align: center;
		padding-top:calculateRem(164);
		padding-bottom:calculateRem(75);
		margin:0 auto;
		width:80.5%;
		@include breakpoint(desktop){
			margin:0;
			width: auto;
			position: relative;
			padding:0;
    		top: 50%;
   			transform: translateY(-50%);
		}
	}

	.saradnja-title{
		@include fontSize(48,26,50);
		font-family: 'Playfair Display', serif;
		font-weight:700;
		letter-spacing: 0.09em;
		color:$gray;
		margin-bottom:5.5rem;
		line-height:calculateRem(55);

		@include breakpoint(desktop){
			width:66%;
			margin:0 auto;
			line-height:calculateRem(55);
			margin-bottom:6rem;
		}
	}

	.saradnja-subtitle{
		@include fontSize(30,26,25);
		font-family: 'Lato', sans-serif;
		letter-spacing: 0.02em;
		color:$gray;
		margin-bottom:7rem;
		line-height:calculateRem(42);

		@include breakpoint(desktop){
			width:66%;
			margin:0 auto;
			line-height:calculateRem(32);
			margin-bottom:6rem;
		}
	}

	.saradnja-text{
		@include fontSize(22,14,14);
		color:$paragraph;
		margin:0 auto;
		margin-bottom: 2rem;
		line-height:calculateRem(32);
		
		@include breakpoint(desktop){
			line-height:calculateRem(20);
			width:75%;
			margin-bottom: 2rem;
		}
	}
	.saradnja-img{
		position: relative;
		@include breakpoint(desktop){

		}

		img{
			width:100%;
			max-width:none;
		}
	}

	.circle-numerator{
		position:absolute;
		background-color: $red;
		color:$white;
		border-radius: 100%;
		text-align:center;
		bottom:-13vw;
		width:$numerator-mob;
		height:$numerator-mob;
		left:calc(50% - 13vw);
		
		@include breakpoint(desktop){
			width:$numerator;
			height:$numerator;
			top:calc(50% - 5vw);
			bottom:auto;
			left:auto;
		}

		&--inverse{
			
			@include breakpoint(desktop){
				right:-$numerator/2;
			}	
		}

		&--normal{
			@include breakpoint(desktop){
				left:-$numerator/2
			}	

			
		}

		p{
			@include fontSize(92,22,92);
			font-weight:700;
			line-height:26vw;

			@include breakpoint(desktop){
			font-weight:700;
			line-height:10vw;
			}
		}
	}
}
