$numerator-radius:2vw;
$numerator-radius-mob:12vw;

.c-inline-numerator{
	margin:0 auto;
	width:100%;
	margin-top:6rem;
	@include breakpoint(desktop){
		margin-top:5.5rem;
		width:91%;
	}

	.numerator{
		//display:block;
		text-align: left;
		display:block;
		margin-bottom:6rem;
		
		@include breakpoint(desktop){
			float:left;
			margin-bottom:0;
		}

		&--middle{
			
			@include breakpoint(desktop){
				margin:0 2rem;
			}
		}
	}

	.number{
		float:left;
		background-color: $red;
		color:$white;
		border-radius: 100%;
		text-align:center;
		width:$numerator-radius-mob;
		height:$numerator-radius-mob;
		font-weight:400;
		line-height: $numerator-radius-mob;
		@include fontSize(48,20,20);
		margin-right:2rem;
		
		
		@include breakpoint(desktop){
			width:$numerator-radius;
			height:$numerator-radius;	
			line-height: $numerator-radius;
			margin-right:1.2rem;
			font-weight:700;
		}
	}

	.list-body{
		float:left;
		text-align: left;
		color:$gray;
		font-weight: 900;
		letter-spacing: 0.05em;
		@include fontSize(27,13,13);
		padding-top:0.2rem;

		@include breakpoint(desktop){
			padding-top:0;
		}

		span{
			display: block;
			letter-spacing: 0;
			@include fontSize(20,12,12);
			margin-top:1.3rem;
			
			@include breakpoint(desktop){
				color:$paragraph;
				margin-top:0.8rem;
				line-height: calculateRem(14);
			}
		}
	}
}