.cenovnik{
	background-color:$cenovnik;
	padding-top:4rem;
	padding-bottom: 5rem;

	@include breakpoint(desktop){
		padding-top: 5rem;
		padding-bottom:0;
	}

	.col-01{
		
		@include breakpoint(desktop){
			width: 46%;
			margin-right:8%;
			float:left;

		}
	}	

	.col-02{
		
		@include breakpoint(desktop){
			width: 46%;
			float:left;
		}
	}
}	


