html{
	//Bilo je problema kad sam dodao footer
	//overflow-x:hidden;
	
}

body{
	margin:0 auto;
	padding:0;
	width:100%;
	font-size: 100%;
  	position: relative;
  	font-family: 'Roboto', sans-serif;
  	overflow-x:hidden;
  	
}

.row{
	@include container(100%,0,0);
	
}

.wrapper{
	@include container(100%,0,0 auto);
	//overflow-x:hidden;
	position:relative;
	display:block;
	@include breakpoint(tablet){
		@include container(84.63%,0,0 auto);
		
	}

	@include breakpoint(desktop){
		@include container(79.47%,0,0 auto);
		
	}

	&--main{
		width:100%;
		margin:0 auto;
		margin-top:$header-height-mobile;
		
		@include breakpoint(tablet){
			margin-top:$header-height-mobile;
		}

		@include breakpoint(desktop){
			margin-top:$header-height-desktop;
			//margin-top:0;
		}
	}
}

.inner{

	position:relative;
	display:block;
	width:100%;
	margin:0 auto;

	@include breakpoint(desktop){
		width:68.5%;
		margin:0 auto;
	}

	&--trener{
		@include breakpoint(desktop){
			width:85%;
		}
	}
}