//colors	
$white: #ffffff;
$black: #000000;
$gray: #4c4c4c; 
$gray-light: #4f4f4f;  
$red: #ed1e4c;
$red2: #c82a4d;
$black-title:#18181a;
$paragraph: #535353;
$cenovnik:#1a1a1a;

                                               