
.hero{
	position:relative;

	@include breakpoint(desktop){
		
	}

	img{
		width:100%;
	}

	&-content{
		position:absolute;
		background-color:transparent;
		height:70%;
		margin: auto;
  		top: 5%; left: 5%; bottom: 0; right: 5%;
  		text-align: center;
  		padding:0 3rem;
  		padding-top:3rem;
  		
  		@include breakpoint(desktop){
			top: 5%; left: 0; bottom: 0; right: 0;
			padding-top:7rem;
			width:48%;
			height:70%;
			margin: auto;
			background-color:transparent;
		}

	}

	&-title{
		@include fontSize(32,28,50);
		color:$red;
		font-family: 'Playfair Display', serif;
		font-weight: 700;
		letter-spacing: 0.01em;
		margin-top:2.4rem;
		
		@include breakpoint(desktop){
			margin-top:2.4rem;
		}

		span{
			@include fontSize(32,28,70);
			font-weight: 900;
			letter-spacing: 0.03em;

			@include breakpoint(desktop){
				display: block;
				margin-top:0.7rem;
			}
		}
	}

	&-body{
		padding-top:2.5rem;
		@include breakpoint(desktop){
			width:87%;
			margin:0 auto;
			padding-top:2.5rem;
		}

		p{
			@include fontSize(19,19,19);
			color:$white;
			margin-top:1.5rem;
			line-height:calculateRem(29);

			@include breakpoint(desktop){
				line-height:calculateRem(29);
				margin-top:1.5rem;
			}	
		}
	}

	&-subtitle{
		@include fontSize(16,16,20);
		color:$red;
		font-weight:700;
		letter-spacing:-0.01em;
		margin-top:2.5rem;
		
		@include breakpoint(desktop){
			line-height:calculateRem(19);
			margin-top:2.2rem;
		}	
	}
}