.start{

	.section-title{
		text-align: center;
		padding-top:5rem;
		padding-bottom:5.4rem;
		background-color: $red;
		color:$white;

		@include fontSize(49.5,38,49.5);
		font-family:'Playfair Display', serif;

		@include breakpoint(desktop){
			padding-top:3rem;
			padding-bottom:3.4rem;
			letter-spacing: 0.05em;
			
		}

		span{
			font-weight:700;
		}
	}
}